/*
 * Empty Stylesheet file.
 */

.pane_left{
    -fx-background-color: #99d288;
}

.label_cadastro{
    -fx-text-fill: #202020;
    -fx-font-family: "Arial";
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.label_texto{
    -fx-text-fill: #202020;
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
}

.button_cadastrar{
    -fx-background-color: #99d288;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.textfield {
    -fx-font-family: 'Arial';
    -fx-font-size: 12pt;
    -fx-border-radius: 5px; /* Define o raio de arredondamento das bordas */
    -fx-border-color: #999999; /* Define a cor da borda */
    -fx-border-width: 1px; /* Define a largura da borda */
    -fx-min-width: 300px;/* Define a largura mínima */
    -fx-max-width: 300px;
    -fx-min-height: 35px; /* Define a altura mínima */

}

.label_AlertaEmail{
    -fx-text-fill: red;
}

.label_AlertaSenha{
    -fx-text-fill: red;
}

.label_AlertaNome{
    -fx-text-fill: red;
}

.label_AlertaPerfil{
    -fx-text-fill: red;
}

.comboBox_Perfil{
    -fx-font-family: 'Arial';
    -fx-font-size: 12pt;
    -fx-border-radius: 5px; /* Define o raio de arredondamento das bordas */
    -fx-border-color: #999999; /* Define a cor da borda */
    -fx-border-width: 1px; /* Define a largura da borda */
}
.button_orange {
    -fx-font-family: 'Arial';
    -fx-font-size: 12pt;
    -fx-background-color: #ea8953; /* Define a cor de fundo */
    -fx-border-style: solid; /* Define o estilo da borda como sólido */
    -fx-border-color: #808080; /* Define a cor da borda como cinza */
}

.label-grande-laranja {
    -fx-font-size: 36px;
    -fx-text-fill: orangered;
    -fx-font-weight: bold; /* Negrito */
    -fx-alignment: center; /* Centralizado */
}

.painel-estilizado {
    -fx-background-color: lightgrey; /* Cor de fundo cinza claro */
    -fx-background-radius: 10px; /* Bordas arredondadas */
    -fx-border-radius: 10px; /* Bordas arredondadas para o contorno */
    -fx-border-color: black; /* Cor do contorno */
    -fx-border-width: 1px; /* Largura do contorno */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0); /* Sombra leve */
}

.titulo {
    -fx-font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    -fx-font-weight: bold; /* Negrito */
    -fx-text-fill: black; /* Cor do texto */
    -fx-alignment: center; /* Centralizado */
}